<!-- BEGIN block0 -->
<div id="otitle">-- {typetitle} --</div>
<ul id="nobgc">
<table width="80%" border="0" cellspacing="1">
  <tr class="trtitles">
    <td class="href">{ltitle}</td>
    <td width="100">{lpublishtime}</td>
	<td width="180">{lbureauname}</td>
	<td width="45">{lofficetype}</td>
  </tr>
  <!-- BEGIN block01 -->
  <tr id="{trbgcolor}">
    <td id="ahref"><li>{title}</li></td>
    <td>{publishtime}</td>
	<td>{bureauname}</td>
	<td>{officetype}</td>
  </tr>
  <!-- END block01 -->
  <!-- BEGIN block02 -->
	<tr class="trnofile">
		<td colspan="4" class="href">{noofficefile}</td>
	</tr>
  <!-- END block02 -->
</table></ul><br />
<!-- END block0 -->