<!-- BEGIN block0 -->
{confirmscript}
<div id="otitle">-- {typetitle} --</div>
<ul id="nobgc">
<table width="80%" border="0" cellspacing="1">
  <tr class="trtitles">
    <td class="href">{ltitle}</td>
    <td width="150">{lsenduser}</td>
    <td width="45">{lurgencydegree}</td>
    <td width="100">{lfreezetime}</td>
  </tr>
  <!-- BEGIN block01 -->
  <tr id="{trbgcolor}">
    <td id="ahref"><li>{title}</li></td>
    <td>{senduser}</td>
    <td>{urgencydegree}</td>
    <td>{freezetime}</td>
  </tr>
  <!-- END block01 -->
  <!-- BEGIN block02 -->
  <tr class="trnofile">
    <td colspan="6"  class="href">{noofficefile}</td>
  </tr>
  <!-- END block02 -->
</table></ul>
<br />
<!-- END block0 -->