<!-- BEGIN block0 -->
{confirmscript}
<div id="otitle">-- {typetitle} --</div>
<ul id="nobgc">
<table width="80%" border="0" cellspacing="1">
  <tr class="trtitles">
    <td class="href">{ltitle}</td>
    <td width="50">{lofficetype}</td>
    <td width="50">{lurgencydegree}</td>
	<td width="100">{lsentime}</td>
    <td width="50" colspan="3">{ledit}</td>
  </tr>
  <!-- BEGIN block01 -->
  <tr id="{trbgcolor}">
    <td id="ahref"><li>{title}</li></td>
    <td>{officetype}</td>
    <td>{urgencydegree}</td>
    <td>{sentime}</td>
    <td width="45"><li {undoid}>{undo}</li></td>
    <td id="ahref" width="55"><li>{receiver}</li></td>
    <td id="ahref" width="45"><li>{send}</li></td>
  </tr>
  <!-- END block01 -->
  <!-- BEGIN block02 -->
	<tr class="trnofile">
		<td colspan="7" class="href">{noofficefile}</td>
	</tr>
  <!-- END block02 -->
</table></ul><br />
<!-- END block0 -->