<br><br>
<!-- BEGIN login1 -->
<form name="loginform" id="loginform" method="post" action="index.php?target=2">
	<!-- BEGIN fail -->
		<td colspan="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{fail}</td>
	<!-- END fail -->
	<p  class="logininput">{id}<input  name="userid" type="text" size="15" maxlength="20" /></p>
	<p  class="logininput">{pass}<input name="userpass" type="password" size="15" maxlength="50" /></p>
	<div class="lilogin">
		<ul>
			<li>{login}</li>
			<li>{reset}</li>
		</ul>
	</div>
</form>
<!-- END login1 -->
<br><br>